p-button {
  margin: 5px 5px;
}

input {
  margin: 5px 5px;
}

label {
  display: block;
}

#wooba-looba {
  min-width: 350px;
  border: 1px solid #cacaca;
  padding: 10px;
  border-radius: 5px;
}